body {
  margin: 0;
  
}

nav, footer {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: white;
}

nav {
  top:0;
  display: flex;
  border: 1px solid black;
  height: 50px;
  line-height: 50px;
  justify-content: flex-end;
  align-items: center;

}

nav > #home {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5em;
}

nav > ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  
}

nav a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: #b2dfdb;
}

main {
  position: absolute;
  left: 50%;
  top: 3.2rem;
  transform: translateX(-50%);
}

footer {
  border: 1px solid black;
  bottom: 0;
  height: 50px;
  text-align: center;
  line-height: 50px;
}



.container {
  
  border: 1px solid black;
  padding: 20px;
}

#movie-card-list {
  box-sizing: border-box;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: 7fr 7fr 7fr 7fr; */
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 1rem;
  justify-items: center;
  /* grid-auto-rows: 400px; */
  grid-auto-rows: minmax(500px, auto);
  
}


.item {
  position: relative;
  /* border: 1px solid black; */
  width: 350px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  transform-style: preserve-3d;
  transition: all 1s;
  cursor: pointer;
  /* overflow: hidden; */
}

.item:hover {
  transform: rotateY(180deg);
}

.item > .front, .back {
  position: absolute;
  transition:  1s;
  
}
.item:hover .back{
  opacity: 1;
  
}

.item:hover .front{
  opacity: 0;
  /* transition: 1s; */
}

.item > .front{
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: rotateY(0deg);
}
.item > .front > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.item > .back{
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* 카드 뒤집기 */
  transform: rotateY(180deg);
  background-color: bisque;
  opacity: 0;
}

.movie-info {
  background-color: #ffffffb0;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-section {
  position: relative;
  border:1px solid black; 
  height: 70px;
  line-height: 70px;
}
.add-btn {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-btn > button {
  border-radius: 10px;
  border-style: none;
  color: white;
  background-color: black;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.add-btn > button:hover {
  color: black;
  background-color: white;
}

