body {
  margin: 0;
}

nav {
  display: flex;
  border: 1px solid black;
  height: 50px;
  line-height: 50px;
  justify-content: flex-end;
  align-items: center;
}

nav > #home {
  margin-left: 20px;
  margin-right: auto;
  font-size: 1.5em;
}

nav > ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  
}

nav a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: #b2dfdb;
}

.container {
  border: 1px solid black;
  padding: 20px;
}

.movie-card-list {
  box-sizing: border-box;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: 7fr 7fr 7fr 7fr; */
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 1rem;
  justify-items: center;
  /* grid-auto-rows: 400px; */
  grid-auto-rows: minmax(400px, 400px)

}


.item {
  position: relative;
  border: 1px solid black;
  width: 300px;
  border-radius: 10px;
  display: flex;
  transform-style: preserve-3d;
  transition: all 1s;
}

.item:hover {
  transform: rotateY(180deg);
}

.item > .front, .back {
  position: absolute;
  transition: 1s;
}
.item:hover .back{
  opacity: 1;
}

.item:hover .front{
  opacity: 0;
}

.item > .front{
  width: 100%;
  height: 100%;
  z-index: 2;
  transform: rotateY(0deg);
}
.item > .front > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.item > .back{
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* 카드 뒤집기 */
  transform: rotateY(180deg);
  background-color: bisque;
  opacity: 0;
}

.item > .back > .movie-info {
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top:0;
  left: 0;
  
  width: 100%;
  height: 100%;
  background-color: #ffffff9f;
  
}

/* .container > .movie-card-list > .item > .back > img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
} */